# This workflow will install Python dependencies,
# run tests and lint with a single version of Python
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions


name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    # Run nightly at 12am UTC
    - cron: '0 0 * * *'

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: [
          '3.10', '3.11', '3.12', '3.13', '3.13t', '3.14', '3.14t',
        ]
        install-opts: [ '', '[yaml]' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
          update-python: true # This ensures the latest patch of the minor version

      - name: Install dependencies
        run: |
          pip install --group dev 

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. 
          flake8 . --count --exit-zero --statistics

      - name: Install the module
        run: |
          pip install .${{ matrix.install-opts }}

      - name: Unit Tests
        run: |
          pytest casablanca

      - name: Integration Tests
        if: matrix.os != 'macos-latest' && matrix.os != 'windows-latest'
        run: |
          pytest --no-cov tests

      - name: Type checking with mypy
        run: |
          mypy casablanca
          mypy tests

  # Aggregator job, passes only when all tests pass
  tests-passed:
    name: "All Tests Passed"
    needs: build
    runs-on: ubuntu-latest
    steps:
      - run: exit 0

